@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #155EEF;
  --color-hover: #004EEB;
  --color-infobg: #DCE8FF;
  --color-dark: #0F172A;
  --color-secondary: #334155;
  --color-background: #F8F4FC;

  /* Success */
  --color-success: #16A33A;
  --color-success-bg: #DCFCE7;
  --color-success-highlight: #22C55E;

  /* Warning */
  --color-warning: #F59E0B;
  --color-warning-highlight: #FBBF24;
  --color-warning-bg: #FEF3C7;

  /* Error */
  --color-error: #DC2626;
  --color-error-bg: #FEE2E2;

  /* Fonts */
  --font-sans: "Inter", "Geist", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}